$animation-duration: 30s;

@mixin dots($count: 1, $color, $pos: -530) {
	$text-shadow: ();
	@for $i from 0 through $count {
		$text-shadow: $text-shadow,
			(-100) + px ($pos) + px 50px hsla($color, 100%, 50%, 0.4);
	}
	text-shadow: $text-shadow;
}
#stars {
	width: 100vw;
	height: 100vh;
	display: block;
	font-size: 532px;
	color: transparent;

	position: fixed;
	top: 50%;
	left: 50%;
	height: 10px;
	width: 10px;
	border-radius: 50%;

	box-shadow: -42vw -4vh 0px 0px #fff, 25vw -41vh 0px 0px #fff,
		-20vw 49vh 0px 1px #fff, 5vw 40vh 1px 1px #fff, 27vw 19vh 1px 0px #fff,
		-44vw -13vh 0px 0px #fff, 23vw 41vh 0px 1px #fff, 48vw 33vh 1px 0px #fff,
		12vw -6vh 1px 0px #fff, -34vw 48vh 1px 1px #fff, 32vw 26vh 1px 1px #fff,
		38vw -45vh 1px 1px #fff, 0vw 37vh 1px 1px #fff, 34vw -26vh 1px 0px #fff,
		-31vw -48vh 1px 0px #fff, -12vw 29vh 0px 1px #fff, -44vw -33vh 0px 1px #fff,
		-26vw 26vh 0px 0px #fff, 32vw 6vh 0px 1px #fff, -21vw -23vh 1px 0px #fff;
}
#stars::before,
#stars::after {
	position: fixed;
	top: 40%;
	left: 40%;
	width: 1px;
	height: 1px;
	content: '.';
	mix-blend-mode: screen;
	animation: move $animation-duration ease-in-out 0s infinite alternate;
}

#stars::before {
	@include dots(0, 20, -540);
	animation-duration: $animation-duration;
	animation-delay: -40s;
}

#stars::after {
	@include dots(0, 130);
	animation-duration: calc($animation-duration + 1s);
	animation-delay: -30s;
}

@keyframes move {
	from {
		transform: rotate(40deg) scale(6) translatey(10px);
		opacity: 1;
	}
	to {
		transform: rotate(-190deg) scale(8) translatey(10px);
		opacity: 0.7;
	}
}
